.u-section-1 {
  background-image: url("np://user.desktop.nicepage.com/Site_669605537/images/jh.jpg?rand=998c");
  background-position: 50% 50%;
  min-height: 686px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 686px;
  pointer-events: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px 0;
}

.u-section-1 .u-text-1 {
  text-align: left;
  font-weight: 700;
  text-transform: none;
  font-family: Raleway, sans-serif;
  font-size: 3rem;
  margin: 129px 0 0 40px;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  line-height: 1.8;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 60px 0 40px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px auto 0 40px;
  padding: 15px 44px 17px;
}

.u-section-1 .u-image-1 {
  min-height: 686px;
  pointer-events: auto;
  background-image: url("np://user.desktop.nicepage.com/Site_669605537/images/5807340-min.png?rand=be4d");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-1 .u-search-1 {
  height: auto;
  width: 416px;
  min-height: 51px;
  background-image: none;
  margin: 585px auto 0 -43px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 590px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 590px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 12px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 566px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 416px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 416px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 129px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 401px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 508px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
    padding-right: 230px;
  }

  .u-section-1 .u-image-1 {
    min-height: 488px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 312px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 40px;
    padding-right: 60px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 307px;
  }

  .u-section-1 .u-search-1 {
    width: 340px;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 573px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  margin-top: 37px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 310px;
  grid-gap: 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 15px 30px 9px;
}

.u-section-2 .u-image-1 {
  min-height: 310px;
  height: auto;
  width: 310px;
  background-image: url("np://user.desktop.nicepage.com/Site_669605537/images/pexels-mohamed-abdelsadig-3196486.jpg?rand=10f7");
  background-position: 50% 50%;
  margin: 0 auto 0 26px;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 20px;
}

.u-section-2 .u-icon-1 {
  height: 74px;
  width: 74px;
  text-shadow: 0 0px 0 rgba(0,0,0,0);
  background-image: none;
  margin: 0 auto;
  padding: 23px;
}

.u-section-2 .u-text-1 {
  letter-spacing: normal;
  text-transform: none;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 25px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 30px 19px 0 25px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 15px 30px 9px;
}

.u-section-2 .u-image-2 {
  min-height: 310px;
  height: auto;
  width: 310px;
  background-image: url("images/a33c29b4-0a40-4d00-929c-4a3b0db90e08.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 26px;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px 20px;
}

.u-section-2 .u-icon-2 {
  height: 74px;
  width: 74px;
  text-shadow: 0 0px 0 rgba(0,0,0,0);
  background-image: none;
  margin: 0 auto;
  padding: 23px;
}

.u-section-2 .u-text-3 {
  letter-spacing: normal;
  text-transform: none;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 25px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 30px 19px 0 25px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 15px 30px 9px;
}

.u-section-2 .u-image-3 {
  min-height: 310px;
  height: auto;
  width: 310px;
  background-image: url("images/pexels-yender-fonseca-10821956.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 26px;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px 20px;
}

.u-section-2 .u-icon-3 {
  height: 74px;
  width: 74px;
  text-shadow: 0 0px 0 rgba(0,0,0,0);
  background-image: none;
  margin: 0 auto;
  padding: 23px;
}

.u-section-2 .u-text-5 {
  letter-spacing: normal;
  text-transform: none;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 25px auto 0;
}

.u-section-2 .u-text-6 {
  margin: 30px 19px 0 25px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 256px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 295px;
    width: 295px;
    margin-right: 9px;
    margin-left: 9px;
    height: auto;
  }

  .u-section-2 .u-text-2 {
    margin-right: 15px;
    margin-left: 9px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-2 {
    min-height: 295px;
    width: 295px;
    margin-right: 9px;
    margin-left: 9px;
    height: auto;
  }

  .u-section-2 .u-text-4 {
    margin-right: 15px;
    margin-left: 9px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-3 {
    min-height: 295px;
    width: 295px;
    margin-right: 9px;
    margin-left: 9px;
    height: auto;
  }

  .u-section-2 .u-text-6 {
    margin-right: 15px;
    margin-left: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    margin-top: 278px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 588px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    margin-top: 303px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1323px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 26px;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 26px;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-2 .u-image-3 {
    margin-left: 26px;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    margin-top: 365px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 833px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 11px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    margin-left: 11px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    margin-left: 11px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 564px;
}

.u-section-3 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-3 .u-gallery-1 {
  margin-top: 30px;
  margin-bottom: 60px;
  height: 375px;
}

.u-section-3 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-1 {
  width: 375px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-2 {
  width: 375px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-3 {
  width: 375px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-4 {
  width: 375px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-5 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-5 {
  width: 375px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-6 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-6 {
  width: 375px;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  top: 168px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}.u-section-4 .u-sheet-1 {
  min-height: 400px;
}